body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar-nav {
    margin-left: auto;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #007bff;
}


.social-icons a:hover i {
    animation: bounce 0.5s;
}


#proyecto-carousel {
    margin-top: 20px;
    
}

#proyecto-carousel .carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#proyecto-carousel h3 {
    margin-top: 10px;
}

.carousel-control-prev, .carousel-control-next {
    display: none;
  }
  
